.buttonContainer {
    display: flex;
    flex-direction: column;
    text-align: middle;
    align-items: center;
    padding: 100;
}

.button {
    margin: 10px 0 10px 0;
    font-size: 16px;
    border: 0;
    font-family: "sans-serif", Arial, Helvetica, sans-serif;
    font-size: x-large;
    background-color: rgb(89, 6, 166);
    padding:25px;
    padding-left:100px;
    padding-right:100px;
    color: azure;
  }